{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h1>Register</h1>

<div class="card">

    <form method="POST">

        {{ form.hidden_tag() }}

        <p>
            {{ form.full_name.label }}<br><br>
            {{ form.full_name() }}
        </p>

        <br>

        <p>
            {{ form.email.label }}<br><br>
            {{ form.email() }}
        </p>

        <br>

        <p>
            {{ form.password.label }}<br><br>
            {{ form.password() }}
        </p>

        <br>

        <p>
            {{ form.submit() }}
        </p>

    </form>

</div>

{% endblock %}